# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.cproject
/.nedexclusions
/.nedfolders
/.oppbuildspec
/.project
/.computed

#OmnetPP Folders
/out
/templates
StatisticalAnalysis/data
StatisticalAnalysis/data_vectorial
/simulation_data
